body{
    margin: 0; padding: 0;
    background-color: lightseagreen;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.center{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    color: whitesmoke;
    font-size: 15pt;
    align-self: center;
    height: 30vh;
}

span{
    color: darkslategray;
}

a{
    text-decoration: none;
}